<!DOCTYPE html>

<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='welcome.css') }}" />
    </head>
    <div class="container">
        <body>
            <div class="box">
                <div class="title"><p style="font-family: 'Circular Std',serif">
                    Welcome to <br>Melody Madness!</div>
                <div class="description"><p style="font-family: 'Circular Std',serif">
                    The app that pits your favorite artists in musical competition.</div>
                <div class="click"><p style="font-family: 'Circular Std',serif">
                    Click below to get started:</div>
                <button class="btn default">
                    <a href="auth"><img src="static/img/Log_In_With.png"></a>
                </button>
            </div>
        </body>
    </div>
</html>